body {
  padding: 0;
  margin: 0;
  font-family: "Monda", sans-serif;
  overflow-x: hidden;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section h1 {
  position: absolute;
  z-index: 10;
  color: white;
  font-weight: 700;
  font-size: 20vh;
  top: 0vh;
  z-index: 2;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-animation-name: Hi;
          animation-name: Hi;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes Hi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Hi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section .sky {
  background-image: url("img/sky.png");
  background-size: 150%;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

section .bottom {
  background-image: url("img/bottom2.png");
  background-size: 150%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  -webkit-box-shadow: 0px -25px 15px -5px white inset;
          box-shadow: 0px -25px 15px -5px white inset;
}

section .sun {
  background-image: url("img/slonce.png");
  background-size: 10%;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  display: inline-block;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

#photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#photo img {
  width: 20%;
  height: 20%;
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
    text-align: center;
  }
  100% {
    width: 100%;
    text-align: center;
  }
}

@keyframes typing {
  0% {
    width: 0%;
    text-align: center;
  }
  100% {
    width: 100%;
    text-align: center;
  }
}

@-webkit-keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #222;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #222;
  }
}

article {
  width: 100vw;
  height: 40vh;
  z-index: 3;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article .desc {
  width: 100%;
  font-size: 3vh;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
}

article .animated {
  -webkit-animation: typing 5s 0s steps(62, start) forwards, blink 2s 0s steps(50, end) forwards;
          animation: typing 5s 0s steps(62, start) forwards, blink 2s 0s steps(50, end) forwards;
}

.parallax {
  background-image: url("img/parallaxBlured.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15vh;
  font-family: "Monda", sans-serif;
  color: #ebdd21;
  font-weight: 700;
}

.projects {
  width: 100vw;
  height: 70vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
}

.projects .weatherProject {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("img/previewWeather.png");
  background-size: cover;
  width: 40%;
  height: 80%;
  border: 2px solid #444044;
  position: relative;
}

.projects .weatherProject .overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #ebdd21;
}

.projects .weatherProject .overlay .divbuttonPlayer a .buttonPlayer {
  background: #032c3b;
}

.projects .weatherProject .overlay .textPlayer {
  padding: auto;
  text-align: center;
}

.projects .weatherProject:hover .overlay {
  opacity: 1;
}

.projects .playerProject {
  background-image: url("img/previewPlayer.png");
  background-size: cover;
  width: 40%;
  height: 80%;
  border: 2px solid #444044;
  position: relative;
}

.projects .playerProject .overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #ebdd21;
}

.projects .playerProject .overlay .divbuttonPlayer a .buttonPlayer {
  background: #032c3b;
}

.projects .playerProject .overlay .textPlayer {
  padding: auto;
  text-align: center;
}

.projects .playerProject:hover .overlay {
  opacity: 1;
}

.contact {
  width: 100vw;
  height: 70vh;
}

.contact .contactMe {
  width: 100vw;
  text-align: center;
  position: relative;
  font-size: 6vh;
}

.contact .contactMe:after {
  border-bottom: solid 1px #7bcdeb;
  width: 100vw;
  height: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

.contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.contact .contactContainer i {
  color: #495559;
  font-size: 30vh;
}

.contact .contactContainer i:hover {
  -webkit-animation: bigger 1s 0s 1 normal forwards;
          animation: bigger 1s 0s 1 normal forwards;
}

.biggerClass {
  -webkit-animation: bigger 1s 0s 1 normal forwards;
          animation: bigger 1s 0s 1 normal forwards;
}

@-webkit-keyframes bigger {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bigger {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cr {
  width: 200px;
  padding: 0px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  z-index: 10;
}

.cr p {
  color: black;
  margin: 0;
  font-size: 1.5rem;
  overflow: hidden;
}

.cr-bottom.cr-right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cr-bottom.cr-left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cr-black {
  background-color: lightblue;
}

.cr-right {
  right: -50px;
}

.cr-bottom {
  bottom: 20px;
}

#workarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1a3e;
  font-family: Raleway;
}

#personal {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 15px;
  right: 2%;
}

/*    start code for the actual button:         */
/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/
.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/
.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/
#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009ffd;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/
#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06d6a0;
}

.mailDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mailDiv .mail {
  font-size: 1.5vw;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
}

.mailText {
  visibility: visible !important;
}

.animated2 {
  -webkit-animation: typing 1s 0s steps(22, start) forwards, blink 1s 0s steps(25, end) forwards;
          animation: typing 1s 0s steps(22, start) forwards, blink 1s 0s steps(25, end) forwards;
}

@media screen and (max-width: 1200px) {
  .bottom {
    background-repeat: no-repeat;
    height: 60vh;
  }
  .sky {
    background-repeat: no-repeat;
    height: 60vh;
  }
  .parallax {
    text-align: center;
  }
  .mail {
    font-size: 1.5rem !important;
  }
}
/*# sourceMappingURL=style.css.map */