body {
    padding: 0;
    margin: 0;
    font-family: 'Monda', sans-serif;

}
section{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        position: absolute;
        z-index: 10;
        color: white;
        font-weight: 700;
        font-size: 20vh;
        top: 0vh;
        z-index: 2;
        align-self: start;
        justify-self: start;
        animation-name: Hi;
        animation-duration: 3s;
    }
    @keyframes Hi {
        0%{
            opacity: 0;
        }   
        100%{
            opacity: 1;
        }     
    }
    
    .sky{
        background-image: url("img/sky.png");
        background-size: 150%;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
    .bottom{
        background-image: url("img/bottom2.png");
        background-size: 150%;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 3;
        box-shadow: 0px -25px 15px -5px white inset;
    }
    // .bgPhoto{                                            OLD
    //     background-image: url("img/bgDuze.jpg");
    //     background-size: 100%;
    //     width: 100vw;
    //     height: 100vh;
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     z-index: 1;
    // }
    // .bgOver{
    //     background-image: url("img/bgDuze.jpg");
    //     background-size: 120%;
    //     width: 100vw;
    //     height: 100vh;
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     z-index: 2;
    // }
    
    .sun{
        background-image: url("img/slonce.png");
        background-size: 10%;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2;
        display: inline-block;
        
        
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    
}

article {
    width: 100vw;
    height: 100vh;
    z-index: 3;
    margin: 0;
    padding: 0;
    // background: linear-gradient(to bottom, #0a2a43, transparent);

    .photo{
        
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 20%;
            height: 20%;
        }
        
    }
}
