body {
    padding: 0;
    margin: 0;
    font-family: 'Monda', sans-serif;

}
section{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        position: absolute;
        z-index: 10;
        color: white;
        font-weight: 700;
        font-size: 20vh;
        top: 0vh;
        z-index: 2;
        align-self: start;
        justify-self: start;
        animation-name: Hi;
        animation-duration: 3s;
    }
    @keyframes Hi {
        0%{
            opacity: 0;
        }   
        100%{
            opacity: 1;
        }     
    }
    
    .sky{
        background-image: url("img/sky.png");
        background-size: 150%;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
    .bottom{
        background-image: url("img/bottom2.png");
        background-size: 150%;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 3;
        box-shadow: 0px -25px 15px -5px white inset;
    }
    // .bgPhoto{                                            OLD
    //     background-image: url("img/bgDuze.jpg");
    //     background-size: 100%;
    //     width: 100vw;
    //     height: 100vh;
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     z-index: 1;
    // }
    // .bgOver{
    //     background-image: url("img/bgDuze.jpg");
    //     background-size: 120%;
    //     width: 100vw;
    //     height: 100vh;
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     z-index: 2;
    // }
    
    .sun{
        background-image: url("img/slonce.png");
        background-size: 10%;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2;
        display: inline-block;
        
        
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    
}
#photo{
        
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 20%;
        height: 20%;
    }
    
}
@keyframes typing {
    0% { width:0%; text-align: center}
    100% { width:100%; text-align: center}
  }

@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}
article {
    width: 100vw;
    height: 40vh;
    z-index: 3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    // background: linear-gradient(to bottom, #0a2a43, transparent);
    .desc{
        // font-family: 'Nanum Pen Script', cursive;
        width: 100%;
        font-size: 3vh;
        text-align: center;
        // animation: typing 5s 1s steps(62,start) forwards,
        // blink 4s forwards;
        visibility: hidden;
        // animation: name duration timing-function delay iteration-count direction fill-mode;
        white-space:nowrap;
        overflow:hidden;
    }
    .animated {
        animation: typing 5s 0s steps(62,start) forwards,
                    blink 2s 0s steps(50, end) forwards;
        
        
        
    }
   
    canvas{
        
        
    }
}
.parallax{
    background-image: url("img/parallax.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 30vh;
}
.projects{
    width: 100vw;
    height: 70vh;
}
.contact{
    width: 100vw;
    height: 70vh;
    
    .contactMe{
        width: 100vw;
        text-align: center;
        position: relative;
        font-size: 6vh;
    }
    .contactMe:after{
        border-bottom: solid 1px rgb(123, 205, 235) ;
        width: 100vw;
        height: 1vh;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content:"";

    }
    .contactContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        i{
            color: #495559;
            font-size: 30vh;
            
        }
       
        i:active{
            animation: bigger 1s 0s 1 normal forwards; 
        }
        
    }

}

.biggerClass{
    animation: bigger 1s 0s 1 normal forwards; 
}
@keyframes bigger {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}